.createTourReviewImg .carousel-slider .slider-wrapper .animated .slide img {
  width: 100%;
  height: 411px;
  object-fit: cover;
  border-radius: 12px;
}
.createTourReviewImg .carousel .thumbs-wrapper .thumbs .thumb img {
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}
.single-date-celandar input {
  display: none;
}
.single-date-celandar .MuiInputAdornment-root {
  display: none;
}
.single-date-celandar fieldset {
  display: none;
}
.create-tour-valid-date .MuiStack-root {
  overflow: hidden;
  background: white;
  padding: 0;
}
.create-tour-valid-date .MuiInputBase-root {
  height: 42px;
  border-radius: 8px;
  font-weight: 500;
}
