.login-modal-content .ant-modal-content {
  padding: 0 !important;
}

.login-button-width iframe {
  width: 500px !important;
}

.login-button-width iframe #container {
  width: 500px !important;
}

.background {
  background-color: rgba(0, 0, 0, 0.7);
  /* Màu xanh mờ */
  width: 300px;
  /* Độ rộng của phông nền */
  height: 200px;
  /* Chiều cao của phông nền */
  position: relative;
  /* Để chúng ta có thể đặt vị trí tương đối cho phông nền con */
}

/* Lớp trung gian giữa hình ảnh và phông nền */
.overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #05445E;
  /* Màu đen mờ */
  opacity: 0.7;
  /* Đặt opacity thành 1 để mờ ngay từ đầu */
}

/* Chữ trên phông nền mờ */
.text {
  position: absolute;
  /* Đặt vị trí tuyệt đối để chữ nằm trên phông nền */
  bottom: 10px;
  /* Khoảng cách từ dưới lên */
  right: 10px;
  /* Khoảng cách từ phải qua */
  color: #fff;
  /* Màu chữ trắng */
  font-size: 18px;
  /* Cỡ chữ */
}

.login-main {
  // display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;

}

.login-main::before {
  content: "";
  background: #05445E;
  // background-image: url('https://static-cse.canva.com/blob/676990/17BlueGreen.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.1;
}