/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.header {
  position: relative;
  width: 100%;
  height: 70vh; 
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  max-width: 400px;
} */
/* style text component form */
/* ./src/styles/main.css */

/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

/* Bổ sung các quy tắc tùy chỉnh sau đây nếu bạn muốn */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
span,
p,
input,
textarea {
  /* font-size: 15px !important; */
}
* {
  font-family: "PingFang SC", "Microsoft YaHei", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}
/* Thêm đoạn mã sau vào file CSS của bạn */
body {
  font-family: "PingFang SC", "Microsoft YaHei", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.input-form-text-ready .MuiInputBase-root {
  height: 40px !important;
  border-radius: 8px;
  width: 450px;
}

.input-form-text-location-ready .MuiInputBase-root {
  height: 68px !important;
  border-radius: 78px;
  background: white;
  margin-bottom: 10px;
}

.input-form-text-ready input {
  box-shadow: none !important;
}

.input-form-text-location-ready input {
  box-shadow: none !important;
}

#root {
  font-family: "inherit";
}

.tab-list-mui .css-1aquho2-MuiTabs-indicator {
  background-color: #05445e;
  height: 0;
}

.tab-list-mui .Mui-selected {
  color: #05445e !important;
  border: 1px solid #05445e !important;
}

.tab-list-mui .css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  padding: 12px 32px 16px 0 !important;
}

.tab-list-mui .css-u2ckbz-MuiButtonBase-root-MuiTab-root {
  height: 38px !important;
  min-height: 38px !important;
}

.tab-list-data-mui .css-13xfq8m-MuiTabPanel-root {
  padding: 24px 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container-dashboard {
  height: calc(100vh - 4rem); /* Độ cao tối đa = chiều cao màn hình - 15rem */
  overflow-y: auto; /* Cho phép cuộn khi nội dung vượt quá max-height */
  /* Các thuộc tính CSS khác cho container */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* global-scrollbar.css */
/* Thanh cuộn toàn cầu */

/* global-scrollbar.css */
/* Thanh cuộn toàn cầu */
.global-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.global-scrollbar::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f5f4f7;
}

.global-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

.global-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.global-scrollbar::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}

/* Add this to your CSS or SCSS file */
.ant-popover-inner .ant-popconfirm-buttons .ant-btn-primary {
  background: #05445e !important ;
  transition: background-color 0.3s ease;
  z-index: 99999;
}
.ant-popover-inner .ant-popconfirm-buttons .ant-btn-primary:hover {
  background: rgba(5, 68, 94, 0.4) !important ;
  color: #05445e;
}
/*add  anitmation*/
.step-enter {
  opacity: 0;
  transform: translateY(20px);
}

.step-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms, transform 500ms;
}

.step-exit {
  opacity: 1;
  transform: translateY(0);
}

.step-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 500ms, transform 500ms;
}

.ant-menu-submenu-selected .ant-menu-item-selected {
  background: rgba(5, 68, 94, 0.3) !important;
  color: #05445e !important;
}
.ant-menu-submenu-selected .ant-menu-submenu-title {
  color: #05445e !important;
}
li .ant-menu-submenu-selected .ant-menu-title-content {
  color: #05445e !important;
}
.ant-menu-item-selected {
  background: rgba(5, 68, 94, 0.1) !important;
  color: #05445e !important;
}
#selectDateSingle {
  padding: 20px;
  width: 500px;
  flex-warp: warp;
}

#filter-date-pick {
  padding: 15px;
  width: 150px;
  position: relative;
}
#filter-date-pick-payment {
  border: none;
  padding: 15px;
  width: 230px;
  position: relative;
}
#filter-date-pick-payment::focus {
  border: none !important;
  box-shadow: none;
}
.calendar-book-detail {
  box-shadow: 0 0 2px 0 rgba(145, 158, 171, 0.08),
    0 12px 24px -4px rgba(145, 158, 171, 0.08) !important;
}
/*end*/
/*end*/
