/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.header {
  position: relative;
  width: 100%;
  height: 70vh; 
  overflow: hidden;
}

.header-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.card-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.card {
  max-width: 400px;
} */
/* style text component form */
.input-form-text-ready .MuiInputBase-root {
  height: 40px !important;
  border-radius: 8px;  
}
.input-form-text-location-ready .MuiInputBase-root {
  height: 68px !important;
  border-radius: 78px;  
  background: white;
  margin-bottom: 10px;
}

.input-form-text-ready input {
  box-shadow: none !important;
}
.input-form-text-location-ready input{
  box-shadow: none !important;
}
#root{
font-family:"inherit";
}
.tab-list-mui .css-1aquho2-MuiTabs-indicator{
  background-color: #8fcaf7;
  height: 0;
}
.tab-list-mui .Mui-selected{
  color: #8fcaf7 !important;
  border:1px solid #8fcaf7 !important;

}
.tab-list-mui .css-1h9z7r5-MuiButtonBase-root-MuiTab-root{
  padding: 12px 32px 16px 0 !important;
}
.tab-list-mui .css-u2ckbz-MuiButtonBase-root-MuiTab-root{
  height: 38px !important;
  min-height: 38px !important;
}
.tab-list-data-mui .css-13xfq8m-MuiTabPanel-root{
  padding: 24px 0;
}


/*end*/